@import url('https://fonts.googleapis.com/css?family=Lancelot|Lato&display=swap');

body {
	margin: 0;
	border-top: 9px solid #c35;
	font-family: Georgia, Times, serif;
}

a { 
	color: black;
	text-decoration: none;
}

main {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	margin-top: 70px;
}

@media only screen and (min-width: 968px) {
	header {
		margin-right: 32px;
	}
}

header {
	width: 256px;

	text-align: center;
	font-size: 15px;
	margin-bottom: 32px;
	padding-top: 20px;
}

p {
	color: #111;
}

p a {
	color: #c35;
	text-decoration: none;
	border-bottom: 1px dashed #c35;
}

p a:hover {
	border-bottom: 1px solid #c35;
}

header h1 {
	font-family: 'Lancelot', cursive;
	font-size: 25px;
	margin: 10px;
}

header p {
	margin: 0;
	line-height: 1.5;
	font-family: 'Lato', sans-serif;
}

header img#logo {
	width: 100px;
}

section {
	width: 640px;
	margin: 20px;
}

section h1 {
	font-size: 36px;
	font-weight: 400;
	line-height: 1.5;
	margin-top: 0;
}

section h2 {
	font-size: 20px;
	font-weight: 700;
	line-height: 1.5;

	font-family: 'Lato', sans-serif;
}

section p {
	font-size: 20px;
	line-height: 1.5;
}

section .code {
	font-family: monospace;
	white-space: pre-wrap;
	background-color: #eee;
	padding: 10px;
	margin: 6px 0;
	border: 1px solid #ccc;
	border-radius: 6px;
}

section .subtitle {
	font-style: italic;
	text-align: center;
	margin: 0 30px;
}

section .caution {
	margin: 20px 0;
	padding: 10px;
	background-color: #f9d4ae;
	border: 1px solid #e2964a;
	border-radius: 6px;
	font-family: 'Lato', sans-serif;
}
